{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class = "col-lg-12 border bg-white border-light rounded p-2">
        <div class="row m-2">
            <h2 class="display-6">Recipes</h2>
            <hr>
            <div class="col-lg-3 pt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Hauptgerichte
                    </div>
                    <div class="list-group">
                        {% for recipe in recipes %}
                            {% if recipe.dish_type == 'main dish' %}
                                <a href="{{ url_for('recipe', id=recipe.id) }}" class="list-group-item list-group-item-action">{{recipe.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 pt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Beilagen
                    </div>
                    <div class="list-group">
                        {% for recipe in recipes %}
                            {% if recipe.dish_type == 'side dish' %}
                                <a href="{{ url_for('recipe', id=recipe.id) }}" class="list-group-item list-group-item-action">{{recipe.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 pt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Nachtische
                    </div>
                    <div class="list-group">
                        {% for recipe in recipes %}
                            {% if recipe.dish_type == 'desert' %}
                                <a href="{{ url_for('recipe', id=recipe.id) }}" class="list-group-item list-group-item-action">{{recipe.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 pt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Importiert (Web)
                    </div>
                    <div class="list-group">
                        {% for recipe in recipes %}
                            {% if recipe.dish_type == 'imported' %}
                                <a href="{{ url_for('recipe', id=recipe.id) }}" class="list-group-item list-group-item-action">{{recipe.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}