{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class = "col-lg border bg-white border-light rounded p-3">
        <h1 class="display-6">Import from URL</h1>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-auto">
                    {{ form.text.label(class="col-form-label") }}:
                </div>
                <div class="col-auto">
                    {{ form.text(class="form-control", size=60) }}
                </div>
                <div class="col-auto">
                    {{ form.submit(class="btn btn-outline-secondary") }}
                </div>
            
            </div>
        </form>
    </div>
</div>

{% endblock %}


   