{% extends "base.html" %}

{% block app_content %}
<div class="content rounded bg-light text-dark p-4 border border-3 border-secondary w-75 ">
    <div class="row m-3">
        <h1>{{ recipe.title }}</h1>
    </div>
    <div class="m-4">
    <div class="row">
        <div class="col-5">
            <h2>Ingredients</h2>
            
                <ul>
               
                    {% for ingredient in recipe.ingredients %}
                    
                        <li>{{ ingredient.amount }} {{ ingredient.unit }} - {{ ingredient.name }}</li>
                    
                    {% endfor %}
                
            </ul>
                
                
            
        </div>
        
        <div class="col-7">
            <h2>Instructions</h2>
            <ul style="font-size: 18px;">
                {% for instruction in recipe.instructions %}
                <li style="padding: 5px;">{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div> 
</div>
{% endblock %}