{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
    <div>
        <div class="row">
            <h1>Recipes</h1>
        </div>
    <div class="row m-2">
        <div class="col">
            <h2>[Main]</h2>
            <ul>
            {% for recipe in recipes %}
                {% if recipe.dish_type == 'main dish' %}
                <li><a href="{{ url_for('recipe_kindle', id=recipe.id) }}" style="font-size:20px;">{{recipe.title}}</a></li> 
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <h2>[Sides]</h2>
            <ul>
            {% for recipe in recipes %}
                {% if recipe.dish_type == 'side dish' %}
                <li><a href="{{ url_for('recipe_kindle', id=recipe.id) }}" style="font-size:20px;">{{recipe.title}}</a></li> 
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <h2>[Deserts]</h2>
            <ul>
            {% for recipe in recipes %}
                {% if recipe.dish_type == 'desert' %}
                    <li><a href="{{ url_for('recipe_kindle', id=recipe.id) }}" style="font-size:20px;">{{recipe.title}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <h2>[Imported]</h2>
            <ul>
            {% for recipe in recipes %}
                {% if recipe.dish_type == 'imported' %}
                    <li><a href="{{ url_for('recipe_kindle', id=recipe.id) }}" style="font-size:20px;">{{recipe.title}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    </div> 
</div>
{% endblock %}


   