{% extends "base.html" %}

{% block app_content %}
<div class="content col-lg border bg-white border-light rounded p-3">
    <div class="row">
        <h1 class="display-6">{{ recipe.title }}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="{{url_for('static',filename='img/' + image)}}" class="rounded" alt="centered image"></img>
        </div>
        <div class="col-3">
            <div class="card" style="width: 12rem;">
                <div class="card-header">
                  Nährwerte
                </div>
                <ul class="list-group list-group-flush">
                    {% for naehrwert in recipe.naehrwerte %}
                        {% if naehrwert.name == 'Kalorien' %}
                            <li class="list-group-item">Energie: {{ naehrwert.amount }} {{ naehrwert.unit }}</li>
                        {% elif naehrwert.name == 'Kohlenhydrate' %}
                            <li class="list-group-item">Kohlehydrate: {{ naehrwert.amount }} {{ naehrwert.unit }}</li>
                        {% elif naehrwert.name == 'Eiweiß' %}
                            <li class="list-group-item">Eiweiß: {{ naehrwert.amount }} {{ naehrwert.unit }}</li>
                        {% elif naehrwert.name == 'Fett' %}
                            <li class="list-group-item">Fett: {{ naehrwert.amount }} {{ naehrwert.unit }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <div class="col">
            <p class="text-start">{{ recipe.beschreibung }}</p>
        </div>
    </div>
    <div class="row pt-3">
        <hr>
    </div>
    <div class="row pt-3">
        <div class="col-5">
            <h5>Zutaten</h5>
        </div>
        <div class="col-7">
            <h5>Zubereitung</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <table class="table">
                <tbody>
                    {% for ingredient in recipe.ingredients %}
                    <tr class="">
                      <td>{{ ingredient.amount }} {{ ingredient.unit }}</td>
                      <td>{{ ingredient.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-7">
            <ul>
                {% for instruction in recipe.instructions %}
                <li>{{ instruction.instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fst-italic">Tipp: {{ recipe.tipp }}</p>
        </div>
    </div>
</div>

{% endblock %}