{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class = "col-lg border bg-white border-light rounded p-3">
            <h1 class="display-6">New Recipe</h1>
            <hr>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="row m-1">
                    <div class="col-4">
                        {{ form.dish_type.label(class="col-form-label") }}:
                    </div>
                    <div class="col">
                        {{ form.dish_type(class="form-select") }}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        {{ form.ingredients.label(class="col-form-label") }}:
                    </div>
                    <div class="col">
                        {{ form.ingredients(class="form-control") }}
                    </div>
                </div>
                <div class="row m-1">
                    
                    <div class="col-4">
                        
                    </div>
                    <div class="col">
                        <div class="form-check">
                        {{ form.recipe_type(class="form-check-input") }}
                        {{ form.recipe_type.label(class="col-check-label") }}
                    </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">
                        {{ form.submit(class="btn btn-outline-secondary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


   